apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: registry:12030/xeodocs-backend-auth:latest
        imagePullPolicy: Never  # Optional: Skips external pulls for local images
        env:
        - name: DATABASE_URL
          value: "postgres://user:password@db:5432/xeodocs_db?sslmode=disable"
        - name: PORT
          value: "80"
        - name: JWT_SECRET
          value: "your-secret-key"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: auth
  labels:
    app: auth
spec:
  selector:
    app: auth
  ports:
  - port: 80
    targetPort: 80
