apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: registry:12030/xeodocs-backend-gateway:latest
        imagePullPolicy: Never  # Optional: Skips external pulls for local images
        env:
        - name: GATEWAY_PORT
          value: "12020"
        - name: AUTH_SERVICE_URL
          value: "http://auth:80"
        ports:
        - containerPort: 12020
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  selector:
    app: gateway
  ports:
  - port: 12020
    targetPort: 12020
  type: LoadBalancer
